body {
    margin-top: 2em;
}

.nav {
    margin-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Alegreya;
}

.ui.header, .header {
    font-family: Alegreya;
}

.ui.items > .item > .content > .header {
    font-family: Alegreya;
}

.ui.items > .item > .content > .description {
    margin-top: 0;
    font-size: .98rem;
}

pre {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

code {
    font-family: "Ubuntu Mono";
}

blockquote {
    background: #fafafa;
    border: 1px solid #ddd;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-radius: 5px;
}

div.row.meta {
    font-size: 0.98rem;
    margin: 0 0 1em;
}

a i {
    color: black;
}

div.nav .ui.icon.dropdown i.bars {
    padding-right: 2.1rem;
}