h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Alegreya;
}

.ui.header, .header {
    font-family: Alegreya;
}

.ui.header.month {
    border-bottom: 1px solid black;
}

.ui.items > .item > .content > .header {
    font-family: Alegreya;
}

.ui.items > .item > .content > .description {
    margin-top: 0;
    font-size: .95rem;
}

