{{ define "content" }}
    <div class="ui text container">
        <h1 class="ui dividing huge header">{{ .Title }}</h1>
        <div class="post-meta">
                <span class="ui left floated small label">
                    <i class="clock icon"></i>
                    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Monday, 2 Jan 2006, 15:04" }}</time>
                </span>
                {{ with .Params.tags }}
                    {{ range . }}
                        <a class="ui right floated tiny tag label" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                {{ end }}
        </div>
        <article class="mb-12">
            {{ .Content }}
        </article>
    </div>
{{ end }}