<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/wryfi.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic|Lora:400,400italic,700italic,700" rel="stylesheet" type="text/css">
</head>

<body>

    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about/">about</a></li>
                    <li><a href="/contact/">contact</a></li>
                    {{ range $key, $value := .Site.Taxonomies.categories }}
                    <li>
                        <a class="post-category post-category-{{ $key }}"
                           href="/categories/{{ $key | urlize }}">{{ $key }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>

