<div class="ui text container nav">
    <div class="ui grid">
        <div class="fourteen wide column">
            <div class="title">
            <a href="/"><h1 class="ui medium header"><i class="book icon"></i>{{ .Site.Title }}</h1></a>
            </div>
        </div>
        <div class="two wide right aligned column">
            <div class="ui icon top center pointing dropdown">
                <i class="bars icon"></i>
                <div class="menu" style="right: 0;left: auto;">
                    <div class="right aligned item">
                        <a href="/"><i class="home icon"></i></a>
                    </div>
                    <div class="item">
                        <a href="/categories"><i class="columns icon"></i></a>
                    </div>
                    <div class="item">
                        <a href="/tags"><i class="tags icon"></i></a>
                    </div>
                    <div class="item">
                        <a href="/people"><i class="users icon"></i></a>
                    </div>
                    <div class="item">
                        <a href="/categories/meetings"><i class="calendar alternate outline icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
